button:focus {outline:0 !important;}

.popup { display: block; }

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
}
.popup .contents {
    padding-left: 30px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #000047;
    color: white;
    flex-direction: column;

    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.js-is-hidden {
    display: none;
}